<div class="error-header">
    <div class="error-box">
        <div class="header-error">
            <h1>OOPs! </h1>
            <div class="emoji-cont">
                <i class="fa-solid fa-xmark"></i>
            </div>

        </div>
        

    <h2>Something went wrong !</h2>

    <a href="/">Home <i class="fa-solid fa-arrow-right"></i></a>
    &nbsp; &nbsp;
    

    </div>
    
</div>