<div class="home-container">
    <h3 class="home-caption">
        Make Every Day Count! Track Your <br>
         Habits Shape Your Future
    </h3>
    
  

    <% if (!otpSend.success) { %>
        <div class="get-start" onclick="toggleSendOtpForm()">Get OTP form</div>
    <div class="send-mailContailer">
       
        <div class="send-mailBox">
            <h3>Get OTP for reset password</h3>
            <% if (error) { %>
                <p class="errorMessageDev"><%= error %></p>
                <% } %>
           
            <form action="/get-otp" method="post">
               
                <div class="email-div form-control">
                    <label for="s-email"><i class="fa-solid fa-envelope"></i></label>
                    <input type="text" name="email" id="s-email" placeholder="Enter email">
                </div>
                <button type="submit">Get OTP</button>

            </form>
            <i class="fa-solid fa-xmark" onclick="toggleSendOtpForm()"></i>
        </div>

       
    </div>

    <% }else{ %>
        <div class="get-start" onclick="toggleRegisterform()">Verify OTP</div>

        <div id="form-container" class="form-container-show">
        <div class="resetPassword-form-wrapper">
            <% if (error) { %>
                <p class="errorMessageDev"><%= error %></p>
                <% } %>
        <h2>Reset Password</h2>
        <div class="register-formBox">

            <form action="/verify-otp" method="post" class="register-form">
                <input type="hidden" name="otpDocs" value="<%= otpDocs %>">
                <div class="email-div form-control">
                    <label for="email"><i class="fa-solid fa-envelope"></i></label>
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>
    
                <div class="password-div form-control">
                    <label for="s-password"><i class="fa-solid fa-lock"></i></label>
                    <input type="password" id="s-password" name="password" placeholder="Password">
                </div>
                <div class="password-div form-control">
                    <label for="password"><i class="fa-solid fa-lock"></i></label>
                    <input type="password" id="password" name="confirmPassword" placeholder="Confirm password">
                </div>

                <div class="otp-div form-control">
                    <label for="otp"><i class="fa-solid fa-key"></i></label>
                    <input type="text" id="otp" name="otp" placeholder="OTP">
                </div>

                <button type="submit">Save</button>

            </form>

            <a href="/forget-passoword">Resend OTP...?</a>
           
            
        </div>
    </div>
        
    </div>

    <% } %>
    
</div>





